<p id="ntice"><=% ntice %></p>
<h1> Lables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>

    </tr>
   </thead>

<tbody>
  <% @lables.each do |lable| %>
   <tr>
     <td><%= lable.name %></td>
     <td><%= link_to 'Show', lable %></td>
     <td><%= link_to 'Edit', edit_lable_path %></td>
     <td><%= link_to 'Destroy', lable, method: :delete, data: {cnfirm:'are you sure ?'} %></td>
  <% end %>
</tbody>
</table>

<br>
<% link_to 'New Lable', new_lable_path %>
